@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.25em;
	color: rgba(0,0,0,.6);
}

header {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 2%;
	z-index: 1;
}

.logo {
	position: absolute;
	font-size: 1.35em;
	font-weight: bold;
}

nav {
	text-align: center;
}

nav a {
	margin: 0 .5em;
	display: inline-block;
	color: rgba(0,0,0,.6);
	border-bottom: 1px solid rgba(0,0,0,0);
}

a {
	text-decoration: none;
	color: rgba(0,0,0,.6);
	border-bottom: 1px solid rgba(0,0,0,0);
	padding-bottom: .1em;
}

a:hover {
	border-bottom: 1px solid rgba(0,0,0,.6);
}

#intro {
	font-family: 'Crimson Text', serif;
	background: url(../images/paper.jpg);
	background-size: cover;
	min-height: 92.5vh;
	padding: 4% 0 0 2%;
	margin-top: 4em;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	max-width: 20em;
	line-height: 1.25em;
	margin-bottom: .5em;
}

.scroll-down {
	font-family: Helvetica, sans-serif;
	text-align: center;
	position: absolute;
	bottom: 2em;
	left: 50%;
	transform: translate(-50%, -50%);
}

#projects {
	padding: 0 1.5%;
	text-align: center;
	margin: 4% 0;
}

#projects img {
	margin-bottom: .5em;
}

#projects a {
	border-bottom: none;
}

.column {
	font-family: 'Crimson Text', serif;
	text-align: left;
	float: left;
	width: 25%;
	padding: .5%;
	margin-bottom: 4%;
}

.column p {
	width: 85%;
}

img {
	width: 100%;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
}

.see-more {
	display: none;
}

.clearfix:after {
	display: block;
	clear: both;
	content:"";
}

#about-me {
	font-family: 'Crimson Text', serif;
	border-top: 1px solid rgba(0,0,0,.6);
	border-bottom: 1px solid rgba(0,0,0,.6);
	padding: 2% 0;
	margin: 0 2%;
}

#about-me > div {
	width: 50%;
	margin: auto;
	padding: 2% 0;
}

.photo {
	float: left;
	width: 50%;
	padding-right: .5%;
}

.text {
	float: left;
	width: 50%;
	padding-left: .5%;
}

.text img {
	width: 12%;
	margin-top: 4%;
	margin-right: 3%;
}

.text p {
	width: 85%;
}

.text a {
	border-bottom: none;
}

footer {
	font-size: .90em;
	text-align: center;
	padding: 2%;
}

footer * {
	font-family: 'Crimson Text', serif;
	display: inline-block;
	margin: 0 1em;
}

@media only screen and (max-width: 1000px) {
	.logo {
	font-size: 1.2em;
	}
	#intro {
		margin-top: 5%;
		margin-bottom: 7%;
	}
	h1 {
		margin-top: 1em;
		font-size: 1.23em;
	}
	#projects {
		margin-bottom: 7%;
	}
	.column {
		width: 50%;
		margin-bottom: 7%;
	}
	#about-me {
		padding: 7% 0;
	}
	#about-me > div {
		width: 100%;
		margin: auto;
		padding: 1% 0;
	}
	.text img {
		width: 8%;
		margin-right: 2%;
	}
}

@media only screen and (max-width: 600px) {
	body {
		font-size: .90em;
	}
	header {
		padding: 4% 0;
	}
	.logo {
		position: initial;
		font-size: 1.2em;
		text-align: center;
		margin-bottom: .75em;
	}
	nav a {
		margin: 0 .55em;
	}
	#intro {
		margin-top: 18%;
		margin-bottom: 15%;
	}
	h1 {
		margin-top: 1em;
		font-size: 1.2em;
	}
	#projects {
		margin-bottom: 15%;
	}
	.column {
		float: none;
		width: auto;
		margin-bottom: 15%;
	}
	#about-me > div {
		width: 100%;
		margin: 10% 0 5% 0;
	}
	.photo {
		clear: both;
		float: none;
		width: 100%;
		margin-bottom: 1em;
		padding-right: 0;
	}
	.text {
		clear: both;
		float: none;
		width: 100%;
		padding-left: 0;

	}
	.text img {
		width: 6%;
		margin-right: 2%;
	}
	footer * {
		display: block;
		border-bottom: none;
	}
}