@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.25em;
	color: rgba(0,0,0,.6);
}

header {
	padding: 1.5em;
}

.logo {
	float: left;
}

nav {
	float: right;
}

nav a {
	margin: 0 .5em;
}

a:hover {
	border-bottom: none;
}

a {
	text-decoration: none;
	color: rgba(0,0,0,.6);
	border-bottom: 1px solid rgba(0,0,0,.6);
}

#intro {
	font-family: 'Crimson Text', serif;
	background: url(../images/paper.jpg);
	background-size: cover;
	margin-top: 1em;
	padding: 1.5em;
	min-height: 90vh;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 1.5em;
	width: 20em;
	line-height: 1.25em;
	margin-bottom: 0.5em;
}

.scroll-down {
	font-family: Helvetica, sans-serif;
	text-align: center;
}

#projects {
	padding: 0 1.5em;
}

.column {
	font-family: 'Crimson Text', serif;
	text-align: left;
	float: left;
	width: 24%;
	margin: 1.75em .5%;
}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	margin-top: 1em;
}

img {
	width: 100%;
}

.project-image {
	border-bottom: none;
}

#about-me {
	clear: both;
	font-family: 'Crimson Text', serif;
	border-top: 1px solid rgba(0,0,0,.6);
	padding: .5em 1.5em;
}

#about-me a {
	border-bottom: none;
}

.photo {
	float: left;
	width: 24%;
	margin: 1.75em .5%;
}

.about {
	float: left;
	width: 24%;
	margin: .5em .5%;
}

.about img {
	width: 10%;
	margin: 1em .5em 1em 0;
}

footer {
	clear: both;
	font-size: .80em;
	border-top: 1px solid rgba(0,0,0,.6);
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding: 1.5em;
}

footer p {
	float: left;
}

footer a {
	font-family: 'Crimson Text', serif;
	float: right;
}
